
.scrollmap_container {
	--icon_size:32px;
	--icon_font_size:32px;
}


@media (pointer: coarse) {
	.scrollmap_container{
		--icon_size:48px;
		/* padding: 8px; */
	}
}

.scrollmap_icon {
	display: none;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	font-size: var(--icon_font_size);
	line-height: var(--icon_size);
	width: var(--icon_size);
	height: var(--icon_size);
	margin : 0;
}

/**************************
* positioning of buttons  *
***************************/
@mixin btn_pos_top_right($index_x:1, $index_y:1) {
	top: calc((var(--icon_size) + 8px) * $index_y + 32px);
	right: calc((var(--icon_size) + 8px) * $index_x + 8px);
}

.scrollmap_container > .zoomminus  {
	@include btn_pos_top_right(0,2);
}

.scrollmap_container > .zoomplus  {
	@include btn_pos_top_right(0,1);
}

.scrollmap_container > .info {
	@include btn_pos_top_right(1,0);
}

.scrollmap_container > .reset {
	@include btn_pos_top_right(0,0);
}

.scrollmap_footer, .scrollmap_header {
	text-align: center;
}

.scrollmap_container .enlargedisplay,
.scrollmap_container .reducedisplay {
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 24px;
}

$xpos : calc(50% + var(--icon_size)/2 + 16px);
.scrollmap_container .enlargedisplay {
	left : $xpos;
	top: 0px;
}

.scrollmap_container .reducedisplay {
	right : $xpos;
	top: 0px;
}

/**********************************
* positioning of fontAwesome icon *
***********************************/
.scrollmap_icon.fa {
	background-color: rgba(255,255,255,0.5);
	border-radius: 100%;
}

.scrollmap_container > .movetop.fa {
	border-radius: 0 0 100% 100%;
}

.scrollmap_container > .moveleft.fa {
	border-radius: 0 100% 100% 0;
}

.scrollmap_container > .moveright.fa {
	border-radius: 100% 0 0 100%;
}

.scrollmap_container > .movedown.fa {
	border-radius: 100% 100% 0 0;
}

/* .scrollmap_container > .zoomplus.fa, .scrollmap_container > .zoomminus.fa  {
	border-radius: 0 100% 100% 0;
} */